#difficulty-selection {
  margin: 20px 0;
}

#difficulty-selection button {
  font-family: 'Press Start 2P', system-ui;
  font-size: 16px;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
  border-radius: 5px;
}
