#difficulty-selection {
  margin: $tercer-margin;
}

#difficulty-selection button {
  font-family: 'Press Start 2P', system-ui;
  font-size: $primary-font-size;
  padding: $secundary-padding;
  margin: $cuarto-margin;
  cursor: pointer;
  border-radius: $primary-border-radius;
}

#difficulty-selection button:hover {
  background-color: $secundary-background-color;
}
