.music-controls {
  display: flex;

  gap: $tercer-gap;
  margin: $cuarto-margin;
}

#playPauseBtn {
  font-family: 'Press Start 2P', system-ui;
  font-size: $primary-font-size;
  padding: $secundary-padding;
  margin: $quinto-margin;
  cursor: pointer;
  border-radius: $primary-border-radius;
  background-color: $primary-color;
  cursor: pointer;
  transition: background-color 0.3s;
  justify-content: center;
}

#playPauseBtn:hover {
  background-color: $secundary-background-color;
}

#volumeControl {
  width: 100px;
}
