.wrong,
.win {
  text-align: center;
  font-size: $secundary-font-size;
  color: $primary-color;
}
.win {
  margin-top: $primary-margin-top;
}
.score,
.highest-score {
  text-align: center;
  margin-top: $secundary-margin-top;
}
#back-to-menu {
  font-family: 'Press Start 2P', system-ui;
  font-size: $primary-font-size;
  padding: $secundary-padding;
  margin: $cuarto-margin;
  cursor: pointer;
  border-radius: $primary-border-radius;
}
