.draggable-elements,
.droppable-elements {
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  padding: 24px;
  min-height: 230px;
}
.names {
  border: 3px dashed brown;
  min-width: 100px;
  padding: 0 10px;
  height: 100px;
  display: grid;
  place-content: center;
}

.image {
  width: 120px;
  height: 110px;
}
.game-buttons {
  display: flex;
  justify-content: center;
}

.volver,
.jugarDeNuevo {
  font-family: 'Press Start 2P', system-ui;
  font-size: 16px;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.volver:hover,
.jugarDeNuevo:hover {
  padding: 10px 35px;
  background-color: orange;
  color: white;
}
