.draggable-elements,
.droppable-elements {
  border: $primary-border;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: $secundary-gap;
  padding: $tercer-padding;
  min-height: 230px;
}
.names {
  border: $secundary-border;
  min-width: 100px;
  padding: $cuarto-padding;
  height: 100px;
  display: grid;
  place-content: center;
}

.image {
  width: 120px;
  height: 110px;
}
.game-buttons {
  display: flex;
  justify-content: center;
}

.volver,
.jugarDeNuevo {
  font-family: 'Press Start 2P', system-ui;
  font-size: $primary-font-size;
  padding: $secundary-padding;
  margin: $cuarto-margin;
  cursor: pointer;
  border-radius: $primary-border-radius;
  transition: background-color 0.3s;
}

.volver:hover,
.jugarDeNuevo:hover {
  padding: $tercer-padding;
  background-color: $secundary-background-color;
  color: $primary-color;
}
