@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import './componentes/variables.scss';
@import './componentes/difficulty.scss';
@import './componentes/startGame.scss';
@import './componentes/score.scss';
@import './componentes/btnvolverMenuPrin.scss';
@import './componentes/musica.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  font-family: 'Press Start 2P', system-ui;
  background-color: $primary-background-color;
  background-image: $primary-background-image;
  background-attachment: fixed;
  background-size: cover;
}
.main-container {
  width: 90%;
  margin: $primary-margin;
  display: flex;
  flex-direction: column;
  gap: $primary-gap;
  align-items: center;
}
h1,
h2 {
  text-align: center;
  margin: $secundary-margin;
}
#name-input-container {
  margin: $tercer-margin;
}

#name-input-container input {
  font-family: 'Press Start 2P', system-ui;
  font-size: $primary-font-size;
  padding: $primary-padding;
  margin-bottom: $primary-margin-bottom;
  width: 80%;
  max-width: 300px;
}

#name-input-container button {
  font-family: 'Press Start 2P', system-ui;
  font-size: $primary-font-size;
  padding: $secundary-padding;
  cursor: pointer;
  border-radius: $primary-border-radius;
}
